<template>
  <div class="trial-component container-layout">
    <div class="container">
      <div class="trial-component__asteroid">
        <img src="@/assets/images/asteroid.png" alt="asteroid" />
      </div>
      <div class="trial-component__top-content">
        <TopContent />
      </div>
      <div class="trial-component__middle-content">
       <MiddleContent />
      </div>
    </div>
  </div>
</template>

<script>
import TopContent from "../discount/";
import MiddleContent from '../info-list'
export default {
  components: {
    TopContent,
    MiddleContent
  },
};
</script>

<style>
@import url("./styles/style.css");
</style>