<template>
  <div class="modal-overlay">
    <div class="modal-overlay__wrapper">
      <div class="modal-content">
        <div class="modal-content__title">
          <span>Payment Method</span>
        </div>
        <div class="modal-content__payment-methods">
          <div class="payment-methods__paypal payment">
            <button>
              <img
                src="@/assets/images/PayPal.png"
                alt="paypal"
                style="margin-right: 10px"
              />
              Buy now
            </button>
          </div>
          <div class="payment-methods__google-pay payment">
            <button>
              <img
                src="@/assets/images/GooglePay.png"
                alt="googlpay"
                style="margin-right: 10px"
              />
              Pay
            </button>
          </div>
        </div>
        <div class="modal-content__divide">
          <div class="divide__line"></div>
          <div class="divide__text">
            <span>or</span>
          </div>
          <div class="divide__line"></div>
        </div>
        <div class="modal-content__form">
          <form action="#" @submit.prevent="onSubmit">
            <div class="form__card-number">
              <label for="card-number">Card number</label>
              <input
                class="inputDefault"
                :value="creditCardNumber"
                @input="cardNumberSpace"
                :class="[ card_error ? 'isError' : card_success ? 'isSuccess': '' ]"
                type="text"
                v-mask="'#### #### #### ####'"
                maxlength="19"
                inputmode="numeric"
                placeholder="••••  ••••  ••••  ••••"
              />
              <span :class="{ isError: card_error, isSuccess: !card_error }">{{
                invalidNumber
              }}</span>
              <img src="@/assets/images/mastercard.png" alt="mastercard" />
            </div>
            <div class="form__card-options">
              <div class="card-options__month item">
                <label for="month">Month</label>
                <select name="month" v-model="selectedMonth">
                  <option
                    v-for="month in months"
                    :value="month.value"
                    :key="month.value"
                  >
                    {{ month.name }}
                  </option>
                </select>
              </div>
              <div class="card-options__year item">
                <label for="year">Year</label>
                <select name="year" v-model="selectedYear">
                  <option
                    v-for="year in years"
                    :value="year.value"
                    :key="year.value"
                  >
                    {{ year.year }}
                  </option>
                </select>
              </div>
              <div class="card-options__cvv item">
                <label for="cvv">CVV</label>
                <input
                  type="text"
                  v-model="cvv"
                  maxlength="3"
                  v-mask="'###'"
                  placeholder="•••"
                  inputmode="numeric"
                  @input="cvvFormat"
                  :class="[ cvv_error ? 'isError' : cvv_success ? 'isSuccess': '' ]"
                />
              </div>
            </div>
            <div class="form__submit">
              <button :disabled="isDisabled">Submit</button>
            </div>
          </form>
          <div class="modal-content__close">
            <span @click="closeModal">close</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  data: () => ({
    selectedMonth: "",
    selectedYear: "",
    creditCardNumber: "",
    cvv: "",
    invalidNumber: "Invalid number",
    card_error: false,
    card_success: false,
    cvv_error: false,
    cvv_success: false,
    disable: false,

    months: [
      { value: 0, name: "January" },
      { value: 1, name: "February" },
      { value: 2, name: "March" },
      { value: 3, name: "April" },
      { value: 4, name: "May" },
      { value: 5, name: "June" },
      { value: 6, name: "July" },
      { value: 7, name: "August" },
      { value: 8, name: "September" },
      { value: 9, name: "October" },
      { value: 10, name: "November" },
      { value: 11, name: "December" },
    ],

    years: [
      { value: 0, year: 2010 },
      { value: 1, year: 2011 },
      { value: 2, year: 2012 },
      { value: 3, year: 2013 },
      { value: 4, year: 2014 },
      { value: 5, year: 2015 },
    ],
  }),

  computed: {
    ...mapState(["isHideModal"]),

    isDisabled() {
      if(this.creditCardNumber === '' || this.cvv === '' || this.selectedMonth === '' || this.selectedYear === '') {
        return this.disable = true
      } else {
        return this.disable = false
      }
    }
    
  },

  methods: {
    ...mapMutations(["showModal"]),

    closeModal() {
      this.showModal(!this.isHideModal);
    },

    onSubmit() {
      console.log('submit');
    },

    cardNumberSpace() {
      this.creditCardNumber = event.target.value
        .replace(/\s/g, "")
        .replace(/(.{4})/g, "$1 ")
        .trim();

      if (this.creditCardNumber.length <= 19 || this.creditCardNumber == "") {
        this.card_error = true;
      }

      if (this.creditCardNumber.length === 19) {
        this.card_error = false;
        this.card_success = true;
      }
    },

    cvvFormat() {
      this.cvv = event.target.value.replace(/[^0-9]/g, "");

      if(this.cvv.length < 3) {
        this.cvv_error = true
      }

      if(this.cvv.length === 3) {
        this.cvv_error = false;
        this.cvv_success = true;
      }
    },
  },
};
</script>

<style>
@import url("./styles/style.css");
@import url("@/assets/styles/__responsive.css");
</style>