<template>
  <div class="middle-content__wrapper">
    <div class="middle-content__list">
      <ul>
        <li>
          <div class="list__img">
            <img src="@/assets/images/star.png" alt="star" />
          </div>
          <div class="list__description">
            <span
              >Exclusive access to <a href="#">350+</a> learning programs</span
            >
          </div>
        </li>
        <li>
          <div class="list__img">
            <img src="@/assets/images/star.png" alt="star" />
          </div>
          <div class="list__description">
            <span>Personalized course plan</span>
          </div>
        </li>
        <li>
          <div class="list__img">
            <img src="@/assets/images/star.png" alt="star" />
          </div>
          <div class="list__description">
            <span>Comfy learning schedule made by you</span>
          </div>
        </li>
        <li>
          <div class="list__img">
            <img src="@/assets/images/star.png" alt="star" />
          </div>
          <div class="list__description">
            <span><a href="#">24/7</a> tutor support in a secure chat</span>
          </div>
        </li>
        <li>
          <div class="list__img">
            <img src="@/assets/images/star.png" alt="star" />
          </div>
          <div class="list__description">
            <span>Lifetime access to materials</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="middle-content__secure">
      <div class="secure__img">
        <img src="@/assets/images/lock-closed.png" alt="lock-closed" />
      </div>
      <div class="secure__title">
        <span>Safe & secure payment</span>
      </div>
    </div>
    <div class="middle-content__description">
      <span
        >$0.99 charged today. If you don't cancel at least 24 hours before the
        end of the 3-day trial period, you will automatically be charged the
        full price of $19.99/Month . You can cancel your subscription at any
        time. By continuing, you indicate that you've read and agree to our
        Terms & Conditions, Privacy Policy , Money Back , and Subscription Terms
        .</span
      >
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
@import url("./styles/style.css");
</style>