<template>
  <div class="start-plan-component container-layout">
    <div class="container">
      <div class="start-plan-component__title">
        <span>Start your learning journey now</span>
      </div>
      <div class="start-plan-component__description">
        <span
          >Get a <a href="#">Planet</a>Learn plan to rock self-learning</span
        >
      </div>
      <div class="start-plan-component__button">
        <button @click="toggle">Get my plan</button>
      </div>

      <div class="mobile-version-component">
        <InfoList />
      </div>
    </div>
  </div>
</template>

<script>
import InfoList from "../info-list";
import Popup from "../popup";
import { mapState, mapMutations } from "vuex";
export default {
  components: {
    InfoList,
    Popup,
  },

  computed: {
    ...mapState(["isHideModal"]),
  },

  methods: {
    ...mapMutations(['showModal']),

    toggle() {
      this.showModal(!this.isHideModal)
    }
  }
};
</script>

<style>
@import url("./styles/style.css");
</style>