.start-plan-component__title span { 
  font-size: 48px;
  font-weight: 800;
  line-height: 57px;
  color: #000;
}

.start-plan-component__description {
  width: 375px;
  margin-top: 24px;
}

.start-plan-component__description span {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #000
}

.start-plan-component__description span a {
  color: #FF8D24;
  text-decoration: none;
}

.start-plan-component__button {
  margin-top: 32px;
}

.start-plan-component__button button {
  width: 273px;
  height: 56px;
  border-radius: 12px;
  padding: 16px 40px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  transition: all .3s;
}

.start-plan-component__button button:hover {
  background-color: #00CA14;
  border: 1px solid #00CA14;
}

.mobile-version-component {
  display: none;
}

.mobile-version-component .middle-content__wrapper .middle-content__list ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.mobile-version-component .middle-content__wrapper .middle-content__list ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.mobile-version-component .middle-content__wrapper .middle-content__list ul li .list__description span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.mobile-version-component .middle-content__wrapper .middle-content__list ul li .list__description span a {
  font-weight: 700;
  color: #FF8D24;
  text-decoration: none;
}

.mobile-version-component .middle-content__wrapper .middle-content__secure {
  margin-top: 24px;
  padding: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mobile-version-component .middle-content__wrapper .middle-content__secure .secure__title span {
  color: #01C120;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.mobile-version-component .middle-content__wrapper .middle-content__description  { 
  margin-top: 12px;
  text-align: center;
  line-height: 12px;
}

.mobile-version-component .middle-content__wrapper .middle-content__description span {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  opacity: 0.5;
}
