<template>
  <div class="top-content__wrapper">
    <div class="top-content__discount">
      <div v-if="this.timePassed === 180" class="discount__title new">
        <span>3-day trial for <a href="#">$0.99</a></span>
      </div>
      <div v-else class="discount__title">
        <span>3-day trial for <a href="#">$0.99</a></span>
      </div>


      <div v-if="this.timePassed === 180" class="discount__description new">
        <span>Then $39.99</span>
      </div>

      <div v-else class="discount__description">
        <span>Then $9.99</span>
        <span class="line-through">$39.99/week</span>
      </div>
    </div>
    <div v-if="this.timePassed !== 180" class="top-content__timer">
      <div class="timer__path-remaining" :style="{border: `4px solid ${alertColor}`}">
        <span>{{ formattedTimeLeft }}</span>
        <div
          class="timer__formatted"
          :style="{
            backgroundColor: `${remainingPathColor}`,
            right: `${timeFraction}px`,
          }"
        ></div>
      </div>
    </div>
    <div v-else class="top-content__timer-none"></div>
  </div>
</template>

<script>
const ALERT_TIME = 10;
const EXPIRED_TIME = 0;

const TIME_LIMIT = 180;

const COLOR_CODES = {
  info: {
    color: "#00CA14",
  }, 
  alert: {
    color: "#FF0000",
    threshold: ALERT_TIME,
  },
  expired: {
    color: "transparent",
    threshold: EXPIRED_TIME,
  },
};
export default {
  data: () => ({
    timePassed: 0,
    timerInterval: null,
    alert_remaining: localStorage.getItem('time')
  }),

  created() {
    this.startTimer();
    console.log('timePassed: ', this.timePassed);
  },

  computed: {
    timeFraction() {
      const rawTimeFraction = (this.timeLeft / TIME_LIMIT) * 10;
      return 15 - rawTimeFraction + (1700 / TIME_LIMIT) * (10 - rawTimeFraction);
    },

    formattedTimeLeft() {
      const timeLeft = this.timeLeft;
      const minutes = Math.floor(timeLeft / 60);
      let seconds = timeLeft % 60;

      if (seconds < 10) {
        seconds = `0${seconds}`;
      }

      return `${minutes}:${seconds}`;
    },

    timeLeft() {
      return TIME_LIMIT - this.timePassed;
    },

    alertColor() {
      const {alert} = COLOR_CODES;

      if(this.timeLeft <= 10) {
        return alert.color
      }
    },

    remainingPathColor() {
      const { alert, info, expired } = COLOR_CODES;

      console.log("time left: ", this.timeLeft);

      if (this.timeLeft == expired.threshold) {
        return expired.color;
      }

      if (this.timeLeft <= alert.threshold) {
        return info.color
      } else {
        return info.color;
      }
    },
  },

  methods: {
    onTimesUp() {
      clearInterval(this.timerInterval);
    },

    startTimer() {
      this.timePassed = parseInt(localStorage.getItem("time")) || 0;
      this.timerInterval = setInterval(() => (this.timePassed += 1), 1000);
    },
  },

  watch: {
    timeLeft(newValue) {
      localStorage.setItem("time", this.timePassed);
      if (newValue === 0) {
        this.onTimesUp();
      }
    },
  },
};
</script>

<style>
@import url("./styles/style.css");
</style>