.trial-component {
  position: relative;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #CDCDCD;
  width: 475px;
  height: auto;
  padding: 24px;
}

.trial-component__asteroid {
  position: absolute;
  top: -55px;
  right: 0;
  animation: asteroid;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.trial-component .trial-component__bottom-content {
  margin-top: 24px;
}

.trial-component .trial-component__bottom-content .bottom-content__description  { 
  text-align: center;
  line-height: 12px;
}

.trial-component .trial-component__bottom-content .bottom-content__description span {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  opacity: 0.5;
}

@keyframes asteroid {
  0% {
    top: -250px;
    right: -300px;
  }

  100% {
    top: -55px;
  }
}