@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_regular.ttf") format("truerype");
}

* { 
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-family: "Proxima Nova", sans-serif;
}

#__nuxt {
  position: relative;
  height: 100vh;
}

#__nuxt::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('../images/bg_planets.png');
  background-repeat: no-repeat;
  /* background-position: 0 -120px; */
  background-size: cover;
}

#__layout { 
  position: relative;
  height: 100%;
}

.global-app-layout__header {
  padding-top: 10px;
}

.main-controller {
  height: 100%;
  /* padding: 90px 0 60px 0; */
  padding-top: 70px;
}

.main-controller .main-controller__wrapper { 
  display: flex;
}