@media screen and (max-width: 991px) {
  .trial-component {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main-controller .main-controller__wrapper {
    flex-direction: column;
  }

  .main-controller .main-controller__wrapper .start-plan {
    order: 1;
  }

  .main-controller .main-controller__wrapper .trial {
    margin-top: 10px;
  }

  .main-controller .main-controller__wrapper .column {
    width: 100%;
  }
}

@media screen and (max-width: 441px) {

  .main-controller {
    padding: 24px 0;
  }

  .trial-component__asteroid {
    display: none;
  }

  .trial-component {
    padding: 12px;
  }

  .trial-component .trial-component__middle-content {
    display: none;
  }

  .trial-component .trial-component__top-content .top-content__discount .discount__title span {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }

  .trial-component .trial-component__top-content .top-content__discount .discount__description span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  .trial-component .trial-component__top-content .top-content__clock-down .clock-down {
    padding: 0 20px;
  }

  .start-plan-component {
    margin-top: 24px;
  }

  .start-plan-component__title span {
    font-size: 32px;
    line-height: 38px;
  }

  .start-plan-component__description {
    width: 100%;
  }

  .start-plan-component__button {
    margin-bottom: 32px;
  }

  .start-plan-component__button button {
    width: 100%;
  }

  .mobile-version-component {
    display: block;
  }

  .modal-overlay .modal-overlay__wrapper {
    margin-left: 15px;
    margin-right: 15px;
  }

  .modal-overlay .modal-content {
    width: 100%;
  }

  .trial-component .trial-component__top-content .top-content__discount .new {
    text-align: center;
  }
}