<template>
  <div class="global-app-layout">
    <header class="global-app-layout__header">
      <div class="container">
        <div class="header__logo">
          <img src="@/assets/images/logo.png" alt="logo" />
        </div>
      </div>
    </header>
    <main class="global-app-layout__main">
      <div class="container">
        <div class="main-controller">
          <div class="main-controller__wrapper">
            <div class="col-sm-6 col-md-6 start-plan column">
              <StartPlanComponent />
            </div>
            <div class="col-sm-6 col-md-6 trial column">
              <TrialComponent />
            </div>
          </div>
        </div>
      </div>
    </main>

    <Popup v-show="isHideModal" />
  </div>
</template>

<script>
import StartPlanComponent from "../components/start-plan";
import TrialComponent from "../components/trial";
import Popup from '../components/popup';
import { mapState, mapMutations } from "vuex";
export default {
  name: "IndexPage",
  components: {
    StartPlanComponent,
    TrialComponent,
    Popup
  },

  computed: {
    ...mapState(['isHideModal'])
  },

  methods: {
    ...mapMutations(['showModal']),

    toggle() {
      this.showModal(!this.isHideModal)
    }
  }
};
</script>

<style>
@import url("../assets/styles/__global.css");
@import url("../assets/styles/__responsive.css");
</style>