.trial-component .trial-component__top-content .top-content__wrapper {
  display: flex;
}

.trial-component .trial-component__top-content .top-content__discount {
  flex: 1;
}

.trial-component .trial-component__top-content .top-content__discount .discount__title span {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  color: #000;
}

.trial-component .trial-component__top-content .top-content__discount .discount__title span a {
  color: #FF8D24;
  text-decoration: none;
}

.trial-component .trial-component__top-content .top-content__discount .discount__description {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.trial-component .trial-component__top-content .top-content__discount .discount__description span {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.trial-component .trial-component__top-content .top-content__discount .discount__description .line-through {
  font-size: 16px;
  text-decoration: line-through;
  color: #000;
  opacity: 0.4;
}

.trial-component .trial-component__top-content .top-content__countdown {
  display: flex;
  align-items: flex-end;
}

.trial-component .trial-component__top-content .top-content__countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 60px;
  width: 120px;
  padding: 0 40px;
  border-radius: 12px;
}

.trial-component .trial-component__top-content .top-content__countdown span {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.trial-component .trial-component__top-content .top-content__timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trial-component .trial-component__top-content .top-content__timer .timer__path-remaining {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 60px;
  width: 120px;
  border-radius: 12px;
  color: #fff;
}

.trial-component .trial-component__top-content .top-content__timer .timer__path-remaining span {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  z-index: 2;
}

.trial-component .trial-component__top-content .top-content__timer .timer__path-remaining.alert_remaining {
  border: 1px solid red;
}

.trial-component .trial-component__top-content .top-content__timer .timer__path-remaining .timer__formatted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}