.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

.modal-content {
  display: block;
  background-color: white;
  width: 400px;
  height: auto;
  padding: 24px 16px;
  border-radius: 12px;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.05);
}

.modal-content .modal-content__title {
  text-align: center;
}

.modal-content .modal-content__title span {
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
}

.modal-content .modal-content__payment-methods {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-content .modal-content__payment-methods .payment button {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.modal-content .modal-content__payment-methods .payment-methods__paypal button {
  background-color: #FEC538;
  border: 1px solid #FEC538;
  transition: all .3s;
}

/* #FFDA80 */

.modal-content .modal-content__payment-methods .payment-methods__paypal button:hover {
  background-color: #FFDA80;
  border: 1px solid #FFDA80;
}

.modal-content .modal-content__payment-methods .payment-methods__google-pay button {
  background-color: #FFFFFF;
  border: 1px solid #E1E1E1;
  transition: all .3s;
}

.modal-content .modal-content__payment-methods .payment-methods__google-pay button:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.modal-content__divide {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.modal-content__divide .divide__line {
  width: 100%;
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content__divide .divide__text {
  font-size: 12px;
  line-height: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

.modal-content__form {
  margin-top: 30px;
}

.modal-content__form .form__submit {
  display: flex;
  justify-content: center;
}

.modal-content__form .form__card-number {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-content__form .form__card-number label {
  position: absolute;
  top: -7px;
  z-index: 1;
  left: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #121826;
  background-color: #fff;
  padding: 0 5px;
}

.modal-content__form .form__card-number input {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #D2D5DA;
  border-radius: 8px;
  padding: 12px 60px 12px 12px;
}

.modal-content__form .form__card-number input.isError {
  border: 1px solid #FF0000;
}

.modal-content__form .form__card-number input.isSuccess {
  border: 1px solid #00CA14;
}

.modal-content__form .form__card-number span.isError {
  display: block;
  position: absolute;
  top: 20px;
  right: 70px;
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #FF0000;
}

.modal-content__form .form__card-number span.isSuccess {
  display: none;
}

.modal-content__form .form__card-number img {
  position: absolute;
  right: 12px;
  top: 11px;
  width: 40px;
}

.modal-content__form .form__card-options {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.modal-content__form .form__card-options .item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modal-content__form .form__card-options .item label {
  position: absolute;
  top: -7px;
  z-index: 1;
  left: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #121826;
  background-color: #fff;
  padding: 0 5px;
}

.modal-content__form .form__card-options .item input {
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #D2D5DA;
  border-radius: 8px;
  padding: 12px;
}

.modal-content__form .form__card-options .item input.isSuccess {
  border: 1px solid #00CA14;
}

.modal-content__form .form__card-options .item input.isError {
  border: 1px solid #FF0000; 
}

.modal-content__form .form__card-options .item select {
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #D2D5DA;
  border-radius: 8px;
  padding: 12px;
}

.modal-content__form .form__submit {
  margin-top: 40px;
}

.modal-content__form .form__submit button {
  width: 300px;
  height: 56px;
  background: #00CA14;
  border: 1px solid #00CA14;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.modal-content__close {
  text-align: center;
  margin-top: 22px;
}

.modal-content__close span {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.36px;
  color: rgba(0, 0, 0, 0.4);
}