.trial-component .trial-component__middle-content {
  margin-top: 25px;
}

.trial-component .trial-component__middle-content .middle-content__list ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.trial-component .trial-component__middle-content .middle-content__list ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.trial-component .trial-component__middle-content .middle-content__list ul li .list__description span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.trial-component .trial-component__middle-content .middle-content__list ul li .list__description span a {
  font-weight: 700;
  color: #FF8D24;
  text-decoration: none;
}

.trial-component .trial-component__middle-content .middle-content__secure {
  margin-top: 24px;
  padding: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.trial-component .trial-component__middle-content .middle-content__secure .secure__title span {
  color: #01C120;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.trial-component .trial-component__middle-content .middle-content__description  { 
  margin-top: 12px;
  text-align: center;
  line-height: 12px;
}

.trial-component .trial-component__middle-content .middle-content__description span {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  opacity: 0.5;
}